

      <!-- One -->
<section id="one">
    <div class="inner">
        <span class="icon fa-star"></span>
      <header>
        <h2>What we do</h2>
      </header>
      <p>We provide all facilities from booking hotels and transportations to 
        provide itenarary and arrange logistics.</p>
      <ul class="actions">
        <li><a href="#" class="button alt">Learn More</a></li>
      </ul>
    </div>
  </section>
  
    <section id="one">
        <div class="inner">
            <span class="icon fa-diamond"></span>
          <header>
            <h2>Where we sit</h2>
          </header>
          <p>2230-D, Sector 46
              Gurgaon
            </p>
          <ul class="actions">
            <li><a href="#" class="button alt">Learn More</a></li>
          </ul>
        </div>
      </section>
  
      <section id="one">
          <div class="inner">
              <span class="icon fa-laptop"></span>
            <header>
              <h2>Contact details</h2>
            </header>
            <p>Email: dhama.dkd@gmail.com <br/>
              Phone number: 9958445135 </p> 
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
        </section>
  
