	<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h1>Hook A Trip: <span>Your travel partner<br />
      hook yourself to hassle free journey and splendid holidays</span></h1>
      <ul class="actions">
        <li><a href="#destinations" class="button alt">Destinations</a></li>
        <li><a href="/best-packages" class="button alt">Best Packages</a></li>
        <li><a href="#contact-us" class="button alt">Contact Us</a></li>
      </ul>
    </div>
  </section>

<div id="destinations">
<!-- Two -->
<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <h3>Rajasthan : The Royal Heritage</h3>
        </header>
        <div class="image fit">
          <img src="../../../assets/images/Desert.jpg" alt="" />
        </div>
        <p>Rajasthan is a land of Kingdoms.
           It has treasured its tradition and grandeur through the invasions of time.
        </p>
        <ul class="actions">
            <li><a href="/rajasthan_tours" class="button alt">All places in Rajasthan</a></li>
          </ul>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <header>
          <h3>Himachal : The land of Gods</h3>
        </header>
        <div class="image fit">
          <img src="../../../assets/images/khajjiar1024x539.jpg" alt="" />
        </div>
        <p>In Himachal Pradesh you experience all. Adventour, spritual and religious!
        </p>
        <ul class="actions">
            <li><a href="/himachal_tours" class="button alt">All places in Himachal</a></li>
          </ul>
      </div>
    </article>
  </div>
</section>
</div>



