\<!-- Footer -->
<div id="contact-us">
    <section id="footer">
        <div class="inner">
          <header>
            <h2>Get in Touch</h2>
          </header>
          <form method="post" action="#">
            <div class="field half first">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field half first">
              <label for="phone">Phone</label>
              <input type="text" name="phone" id="phone" />
            </div>
            <div class="field half">
                <label for="email">Destination</label>
                <input type="text" name="destination" id="destination" />
              </div>
            <ul class="actions">
              <li><input type="submit" value="Send Message" class="alt" /></li>
            </ul>
          </form>
          <div class="copyright">
            &copy; dhama technologies
          </div>
        </div>
      </section>      
</div>