

      <!-- Three -->
      <section id="three">
          <div class="inner">
            <article>
              <div class="content">
                <header>
                  <h3>Jaipur : The pink city</h3>
                </header>
                <p>The capital city has a blend of flavours in terms of sights it offers.
                    From old forts and and towns to modernized towns and citylife.</p>
                <ul class="actions">
                  <li><a href="#" class="button alt">View Details</a></li>
                </ul>
              </div>
            </article>
            <article>
              <div class="content">
                <header>
                  <h3>Udaipur: The city of Lakes</h3>
                </header>
                <p>Once capital of Mewar kingdom, Udaipur is known for the serenity of its lake.
                Besides it stands the magnificient city palace which has expanded through.
                </p>
                <ul class="actions">
                  <li><a href="#" class="button alt">View Details</a></li>
                </ul>
              </div>
            </article>
            <article>
            <div class="content">
                <header>
                  <h3>Jodhpur : Fort City</h3>
                </header>
                <p> Find more about Jodhpur </p>          
                <ul class="actions">
                  <li><a href="#" class="button alt">View Details</a></li>
                </ul>
              </div>
            </article>
          </div>
        </section>
        
      <!-- Three -->
      <section id="three">
          <div class="inner">
            <article>
              <div class="content">
                <header>
                  <h3>Manali: Where romance never dies</h3>
                </header>
                <p>The capital city has a blend of flavours in terms of sights it offers.
                    From old forts and and towns to modernized towns and citylife.</p>
                <ul class="actions">
                  <li><a href="#" class="button alt">View Details</a></li>
                </ul>
              </div>
            </article>
            <article>
              <div class="content">
                <header>
                  <h3>Shimla: Queen of Hills</h3>
                </header>
                <p>Once capital of Mewar kingdom, Udaipur is known for the serenity of its lake.
                    Besides it stands the magnificient city palace which has expanded through .</p>
                <ul class="actions">
                  <li><a href="#" class="button alt">View Details</a></li>
                </ul>
              </div>
            </article>
            <article>
            <div class="content">
                <header>
                  <h3>Dharamshala : Buddhism</h3>
                </header>
                <p>Dalai Lama lives here</p>          
                <ul class="actions">
                  <li><a href="#" class="button alt">View Details</a></li>
                </ul>
              </div>
            </article>
          </div>
        </section>